<section id="sign-up">
    <div id="left_header">
        <div class="left_header_body">
            <p class="header_item-wel">Welcome</p>
        </div>
        <div class="left_header_body_tex">
            <p class="header_item_tex">Use TEMA now to <span>revolutionise your human potential.</span>
                Start now for free</p>
        </div>
    </div>
    <form action="" id="form">
        <button routerLink="" class="log-in">Log in</button>
        <span class="left-line"></span>
        <span class="center-or">Or</span>
        <span class="right-line"></span>
        <button routerLink="email-sign-up" type="button" class="sign-up">Sign-up</button>
    </form>
    <div class="center-line"></div>
    <div class="right-header">
        <span class="right-header_tex">What is TEMA?</span>
    </div>
    <div class="right-img"></div>
    <div class="right-footer">
        <span class="right-footer-tex">Watch this short video to learn more about our app</span>
    </div>
</section>