.left_header_body {
  position: absolute;
  width: 179px;
  height: 40px;
  left: 270px;
  top: 300px;
}
.header_item-wel {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #1c1c1c;
}
.left_header_body_tex {
  position: absolute;
  width: 449px;
  height: 48px;
  left: 136px;
  top: 380px;
}
.header_item_tex {
  font-family: "Metropolis";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.header_item_tex span {
  color: #1d6bc9;
}
.log-in {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 8px;
  position: absolute;
  width: 288px;
  height: 56px;
  left: 216px;
  top: 465px;
  border: 1px solid #b3b9c1;
  background: transparent;
  border-radius: 16px;
  border-radius: 16px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.left-line {
  position: absolute;
  width: 116px;
  height: 1px;
  left: 216px;
  top: 560px;
  background: #d9d9d9;
}
.center-or {
  position: absolute;
  width: 21px;
  height: 24px;
  left: 349px;
  top: 549px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #1c1c1c;
}
.right-line {
  position: absolute;
  width: 116px;
  height: 1px;
  left: 388px;
  top: 560px;
  background: #d9d9d9;
}
.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 8px;
  position: absolute;
  width: 288px;
  height: 56px;
  left: 216px;
  top: 600px;
  background: #1d6bc9;
  border-radius: 16px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  cursor: pointer;
}
.center-line {
  position: absolute;
  width: 1px;
  height: 1024px;
  left: 719px;
  top: 0px;
  background: #d9d9d9;
}
.right-header {
  position: absolute;
  width: 288px;
  height: 40px;
  left: 936px;
  top: 277px;
}
.right-header_tex {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 40px;
  /* identical to box height */

  text-align: center;

  /* Grey 100 */

  color: #1c1c1c;
}
.right-img {
  box-sizing: border-box;
  position: absolute;
  width: 531px;
  height: 374px;
  left: 815px;
  top: 341px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/src/app/images/photos.png");
  border: 3px solid #c7c7c7;
  border-radius: 24px;
}
.right-footer {
  position: absolute;
  width: 399px;
  height: 16px;
  left: 895px;
  top: 731px;
}
.right-footer-tex {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #7d7d7d;
}
